<slider></slider>
<!--Start about area-->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-image-box">
                    <div class="icon-box">
                        <span class="icon-solar-energy"></span>
                    </div>
                    <div class="image-box-one">
                        <img src="assets/images/resources/about-1.png" alt="Awesome Image">
                    </div>
                    <div class="image-box-two">
                        <img src="assets/images/resources/about-2.png" alt="Awesome Image">
                    </div>
                    <div class="image-box-three">
                        <img src="assets/images/resources/about-3.png" alt="Awesome Image">
                    </div>
                    <div class="image-box-four">
                        <img src="assets/images/resources/about-4.png" alt="Awesome Image">
                    </div>
                </div>   
            </div>
            <div class="col-xl-6">
                <div class="about-text">
                    <div class="sec-title">
                        <p>About Our Company</p>
                        <div class="title">Simplicity & Efficiency</div>
                        <div class="border-box"></div>
                    </div>
                    <div class="inner-content">
                        <h3>Experience The Power of The Sun at its Finest.</h3>
                        <div class="text">
                            <p>These cases are perfectly simple and easy to distinguish. In a free hour, when our power off choice isuntrammelled and when nothing prevents our being able do what we like bestevery pleasure.</p>
                            <p>Perfectly simple and easy to distinguish. In a free hour, when our power choice is untrammelled and when nothing prevents we give best.</p>
                        </div>
                        <ul class="solar-services">
                            <li class="single-solar-box">
                                <div class="icon">
                                    <span class="icon-farm"></span>    
                                </div> 
                                <div class="title">
                                    <h3>Solar In<br> Agriculture Farm</h3>
                                </div>   
                            </li>
                            <li class="single-solar-box">
                                <div class="icon">
                                    <span class="icon-farming-and-gardening"></span>    
                                </div> 
                                <div class="title">
                                    <h3>Solar In<br> Residential Areas</h3>
                                </div>   
                            </li>
                        </ul>
                        <div class="button">
                            <a class="btn-two" href="#">More About Solartech<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
    </div>    
</section>
<!--End about Area-->

