<slider></slider>
<!--Start about area-->
<section class="about-area">
    <div *ngIf="slidersData.aboutInfo" class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-image-box">
                    <div class="icon-box">
                        <span class="icon-solar-energy"></span>
                    </div>
                    <div class="image-box-one">
                        <img *ngIf="slidersData.aboutInfo['about-image1']" 
                            [src]="slidersData.aboutInfo['about-image1']" alt="Awesome Image">
                    </div>
                    <div class="image-box-two">
                            <img *ngIf="slidersData.aboutInfo['about-image2']" 
                            [src]="slidersData.aboutInfo['about-image2']" alt="Awesome Image">
                    </div>
                    <div class="image-box-three">
                            <img *ngIf="slidersData.aboutInfo['about-image3']" 
                            [src]="slidersData.aboutInfo['about-image3']" alt="Awesome Image">
                    </div>
                    <div class="image-box-four">
                            <img *ngIf="slidersData.aboutInfo['about-image4']" 
                            [src]="slidersData.aboutInfo['about-image4']" alt="Awesome Image">
                    </div>
                </div>   
            </div>
            <div class="col-xl-6">
                <div class="about-text">
                    <div class="sec-title">
                        <p>Acerca de EcuSolar</p>
                        <div class="title">{{ slidersData.aboutInfo['about-title'] }}</div>
                        <div class="border-box"></div>
                    </div>
                    <div class="inner-content">
                        <h3>{{ slidersData.aboutInfo['about-subtitle'] }}</h3>
                        <div class="text">
                            <p>{{ slidersData.aboutInfo['about-description1'] }}</p>
                            <p>{{ slidersData.aboutInfo['about-description2'] }}</p>
                        </div>
                        <ul class="solar-services">
                            <li class="single-solar-box">
                                <div class="icon">
                                    <span class="icon-farm"></span>    
                                </div> 
                                <div class="title">
                                    <h3>Solar In<br> Agriculture Farm</h3>
                                </div>   
                            </li>
                            <li class="single-solar-box">
                                <div class="icon">
                                    <span class="icon-farming-and-gardening"></span>    
                                </div> 
                                <div class="title">
                                    <h3>Solar In<br> Residential Areas</h3>
                                </div>   
                            </li>
                        </ul>
                        <div class="button">
                            <a class="btn-two" href="#">More About Solartech<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
    </div>    
</section>
<!--End about Area-->

