<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container inner-content">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="copyright-text">
                    <p>© 2019 Todos los derechos reservados <a href="#">EcuSolar.</a> <br>Nuestro principal objetivo es proveer soluciones energéticas renovables, rentables y de alta calidad.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="call-us-now">
                    <div class="icon">
                        <span class="icon-call"></span>    
                    </div>
                    <div class="title">
                        <span>Alguna duda o sugerencia? Contáctenos</span>
                        <h3>(+593) 9 84295758</h3>
                    </div>    
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12">
                <div class="footer-social-links float-right">
                    <ul class="sociallinks-style-two fix">
                        <li>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>    
</section>
<!--End footer bottom area-->  
